<html>
    <head>
        <style>
            .container {
                margin: 0 auto;
                width: 420px;
                height: 200px;
                top: 50%;
                padding-top: 300px;
                text-align: center;
            }
        </style>
        <body>
            {% load staticfiles %}
            <div class="container">
                Select a game:
                <ol>
                    <li><a href="{% url 'snake' %}" target="new">Snake game</a></li>
                    <li><a href="{% url 'tetris' %}" target="new">Tetris game</a></li>
                </ol>
            </div>
        </body>
    </head>
</html>
